<%- include("header"); %>
<h2>Register for API key</h2>
<form action="http://localhost:1337/v1/api/register" method="POST">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" placeholder="Email"><br>
    <input type="submit" value="Request API key">
    <%- include("terms"); %>
</form>
<%- include("footer"); %>