<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pattern API</title>
    <link rel="icon" href="/favicon.ico">
    <script
      src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"
      data-auto-a11y="true"
    ></script>
</head>
<style>
    body {
        font-family: arial;
        margin: 0;
        height: 100%;
        background-color: #F4F4F4;
    }
    nav {
        background: #297C45;
        padding: 1.5em 1em;
    }
    nav ul {
        margin: 0 auto;
        padding: 0;
    }
    nav li {
        list-style-type: none;
        display: inline-block;
        margin: 0 10px 0 0;
    }
    nav a {
        color: #fff;
        font-size: 18px;
        background: rgba(255,255,255,0.2);
        text-decoration: none;
        padding: 10px;
        display: block;
    }
    header {
        color: #333;
    }
    main {
        margin: auto;
        padding: 1em 2em;
        min-height: 26em;
        word-break: break-all;
    }
    pre {
        background: #7DBB92;
        border-left: 3px solid #297C45;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 1.4rem;
        font-size: 1.2rem;
        display: block;
        overflow-x: auto;
        color: #191919;
    }
    input {
        padding: 0.5em;
        margin: 0.5em 0;
    }
    .terms {
        color: rgb(42, 42, 42);
    }
    a {
        color: #003E15;
    }
    .link {
        text-decoration: none;
    }
    footer {
        background-color: #003E15;
        color: white;
        padding: 3em 1em;
    }
</style>
<header>
    <nav>
        <ul>
            <li><a class="active" href="/">Index</a></li>
            <li><a href="/key">Request API Key</a></li>
        </ul>
    </nav>
</header>

<body>
    <main>
