<%- include("header"); %>

<h1>Pattern API documentation</h1>

<h2>Content</h2>

    <ul>
        <li><a class="link" href="#api">Api Key</a></li>
        <li><a class="link" href="#users">Users</a></li>
        <li><a class="link" href="#admins">Admins</a></li>
        <li><a class="link" href="#bikes">Bikes</a></li>
        <li><a class="link" href="#cities">Cities</a></li>
        <li><a class="link" href="#prices">Prices</a></li>
        <li><a class="link" href="#trips">Trips</a></li>
    </ul>

<section id="api">
<h2>API key</h2>

<p>An API key will be required for all requests.</p>

<p>Required headers:</p>

<pre>x-access-token: [YOUR_API_KEY]</pre>

<p>If an API key is not provided the following error is given:</p>

<pre>
{
    "message": "Auth failed"
}
</pre>
</section>

<h2>api_users</h2>

<p>An api_user has the following attributes:</p>

<pre>
_id
email
api_key
</pre>

<section id="users">

<h2>Users</h2>

<p>A user has the following attributes:</p>

<pre>
_id
firstname
lastname
email
password
phone
city
payment_method
card_information
balance
account_status
</pre>

<h2>To get all users:</h2>

<pre>GET /v1/users</pre>

<p>Result:</p>

<pre>
{
    "count": 2,
    "users": [
        {
            "_id": "619f6ee3d0b6c914a2b58514",
            "firstname": "John",
            "lastname": "Doe",
            "email": "john@exampple.com",
            "password": "password",
            "city": "61a76026bb53f131584de9b1",
            "phone": "+4412345678",
            "payment_method": "refill",
            "card_information": "unknown",
            "balance": 0,
            "account_status": "active"
        },
        {
            "_id": "619f767f6736ee4a118b900a",
            "firstname": "Jane",
            "lastname": "Doe",
            "email": "jane@example.com",
            "password": "pass",
            "city": "61a76026bb53f131584de9b1",
            "phone": "+4412345679",
            "payment_method": "refill",
            "card_information": "unknown",
            "balance": 99.99,
            "account_status": "deleted"
        }
    ]
}
</pre>


<h2>To get user by id:</h2>

<pre>GET /v1/users/:user_id</pre>

<p>Result:</p>

<pre>
{
    "user": {
        "_id": "619f6ee3d0b6c914a2b58514",
        "firstname": "John",
        "lastname": "Doe",
        "email": "john@exampple.com",
        "password": "password",
        "city": "61a76026bb53f131584de9b1",
        "phone": "+4412345678",
        "payment_method": "refill",
        "card_information": "unknown",
        "balance": 0,
        "account_status": "active"
    }
}
</pre>


<h2>To update a user by id:</h2>

<pre>PATCH /v1/users/:user_id</pre>

<p>Example:</p>

<pre>[
    {"propName": "payment_method", "value": "monthly"}
]</pre>

<p>Result:</p>

<pre>
{
    "message": "User succesfully updated",
    "updatedUser": {
        "_id": "619f6ee3d0b6c914a2b58514",
        "firstname": "John",
        "lastname": "Doe",
        "email": "john@exampple.com",
        "password": "password",
        "city": "61a76026bb53f131584de9b1"
        "phone": "+4412345678",
        "payment_method": "refill",
        "card_information": "unknown",
        "balance": 0,
        "account_status": "active"
    }
}
</pre>

<h2>Register a user:</h2>

<pre>POST /v1/users/register</pre>

<p>Required parameters:</p>

<pre>
firstname
lastname
email
password

</pre>

<p>Optional parameters:</p>

<pre>
phone
city
payment_method
card_information
balance
account_status
</pre>

<p>Result:</p>

<pre>
{
    "message": "Succesfully created a user",
    "createdUser": {
        "_id": "61dda25193852f4e487030d6",
        "firstname": "John",
        "lastname": "Doe",
        "email": "test123@example.com",
        "password": "$2a$10$d0qyTB91FZP8k2jlPup07uDyRJvymzDl.vE.dWIxDrx6nJulKHFba",
        "phone": "unknown",
        "payment_method": "refill",
        "card_information": "unknown",
        "balance": 0,
        "account_status": "active"
    }
}
</pre>


<h2>Login a user:</h2>

<pre>POST /v1/users/login</pre>

<p>Required parameters:</p>

<pre>
email
password
</pre>

<p>Result:</p>

<pre>
{
    "message": "Auth succesful",
    "token": "exampletoken"
}
</pre>

<section id="admins">
<h2>Admins</h2>

<p>An admin has the following attributes:</p>

<pre>
_id
username
password
</pre>

<h2>To get all admins:</h2>

<pre>GET /v1/admins</pre>

<p>Result:</p>

<pre>
{
    "count": 2,
    "admins": [
        {
            "_id": "61a4fe55e71098d023a43d15",
            "username": "admin1",
            "password": "password"
        },
        {
            "_id": "61a79627f73fa3631949abfc",
            "username": "admin2",
            "password": "password"
        }
    ]
}
</pre>
</section>

<h2>To get admin by id:</h2>

<pre>GET /v1/admins/:admin_id</pre>

<p>Result:</p>

<pre>
{
    "admin": {
        "_id": "61a4fe55e71098d023a43d15",
        "username": "admin1",
        "password": "password"
    }
}
</pre>


<h2>To update an admin by id:</h2>

<pre>PATCH /v1/admins/:admin_id</pre>

<p>Example:</p>

<pre>[
    {"propName": "password", "value": "newpassword"}
]</pre>

<p>Result:</p>

<pre>
{
    "message": "Admin succesfully updated",
    "updatedAdmin": {
        "_id": "61a4fe55e71098d023a43d15",
        "username": "admin1",
        "password": "newpassword"
    }
}
</pre>
</section>
<section id="bikes">


<h2>Bikes</h2>
<p>A bike has the following attributes:</p>

<pre>
_id
city_id
charge_id
parking_id
bike_status
battery_status
coordinates
maintenance
latest_trip
</pre>

<h2>To get all bikes:</h2>

<pre>GET /v1/bikes</pre>

<p>Result:</p>

<pre>

{
    "count": 3,
    "bikes": [
        {
            "_id": "61a8aec803d845a108c53774",
            "city_id": "61a7603dbb53f131584de9b3",
            "charge_id": null,
            "parking_id": null,
            "bike_status": "available",
            "battery_status": 72.19999999999999,
            "coordinates": {
                "lat": 59.331536,
                "long": 18.062855499999998
            },
            "maintenance": false,
            "latest_trip": {
                "average_speed": 0,
                "distance": 0,
                "price": 0,
                "charge_id": null,
                "parking_id": null
            }
        },
        {
            "_id": "61a8af7403d845a108c53779",
            "city_id": "61a76026bb53f131584de9b1",
            "charge_id": null,
            "parking_id": null,
            "bike_status": "available",
            "battery_status": 100,
            "coordinates": {
                "lat": 56.1812775,
                "long": 15.5907245
            },
            "maintenance": false,
            "latest_trip": {
                "average_speed": 0,
                "distance": 0,
                "price": 0,
                "charge_id": null,
                "parking_id": null
            }
        },
        {
            "_id": "61abbdfed3e8bc22cfa13a90",
            "city_id": "61a76026bb53f131584de9b1",
            "charge_id": null,
            "parking_id": null,
            "bike_status": "available",
            "battery_status": 91,
            "coordinates": {
                "lat": 56.173219,
                "long": 15.589483
            },
            "maintenance": false,
            "latest_trip": {
                "average_speed": 39,
                "distance": 9,
                "price": 88,
                "charge_id": null,
                "parking_id": null
            }
        }
    ]
}
</pre>

<h2>To get bike by city:</h2>

<pre>GET /v1/bikes/city/:city_id</pre>

<p>Result:</p>

<pre>
{
    "count": 2,
    "bikes": [
        {
            "_id": "61a8af7403d845a108c53779",
            "city_id": "61a76026bb53f131584de9b1",
            "charge_id": null,
            "parking_id": null,
            "bike_status": "available",
            "battery_status": 100,
            "coordinates": {
                "lat": 56.1812775,
                "long": 15.5907245
            },
            "maintenance": false,
            "latest_trip": {
                "average_speed": 0,
                "distance": 0,
                "price": 0,
                "charge_id": null,
                "parking_id": null
            }
        },
        {
            "_id": "61abbdfed3e8bc22cfa13a90",
            "city_id": "61a76026bb53f131584de9b1",
            "charge_id": null,
            "parking_id": null,
            "bike_status": "available",
            "battery_status": 91,
            "coordinates": {
                "lat": 56.173219,
                "long": 15.589483
            },
            "maintenance": false,
            "latest_trip": {
                "average_speed": 39,
                "distance": 9,
                "price": 88,
                "charge_id": null,
                "parking_id": null
            }
        }
    ]
}
</pre>


<h2>To get bike by id:</h2>

<pre>GET /v1/bikes/:bike_id</pre>

<p>Result:</p>

<pre>
{
    "bike": {
        "_id": "61a8aec803d845a108c53774",
        "city_id": "61a7603dbb53f131584de9b3",
        "charge_id": null,
        "parking_id": null,
        "bike_status": "available",
        "battery_status": 72.19999999999999,
        "coordinates": {
            "lat": 59.331536,
            "long": 18.062855499999998
        },
        "maintenance": false,
        "latest_trip": {
            "average_speed": 0,
            "distance": 0,
            "price": 0,
            "charge_id": null,
            "parking_id": null
        }
    }
}
</pre>


<h2>Add a bike:</h2>

<pre>POST /v1/bikes</pre>

<p>Required parameters:</p>

<pre>
city_id
</pre>

<p>Optional parameters:</p>

<pre>
charge_id
parking_id
bike_status
maintenance
coordinates
latest_trip
</pre>

<p>Result:</p>

<pre>
{
    "message": "Succesfully added a bike",
    "addedBike": {
        "_id": "61a8aec803d845a108c53774",
        "city_id": "61a7603dbb53f131584de9b3",
        "charge_id": null,
        "parking_id": null,
        "bike_status": "available",
        "battery_status": 72.19999999999999,
        "coordinates": {
            "lat": 59.331536,
            "long": 18.062855499999998
        },
        "maintenance": false,
        "latest_trip": {
            "average_speed": 0,
            "distance": 0,
            "price": 0,
            "charge_id": null,
            "parking_id": null
        }
    }
}
</pre>


<h2>To update a bike by id:</h2>

<pre>PATCH /v1/bikes/:bike_id</pre>

<p>Example:</p>

<pre>[
    {"propName": "bike_status", "value": "unavailable"}
]</pre>

<p>Result:</p>

<pre>
{
    "message": "bike succesfully updated",
}
</pre>

<h2>Set maintenance for bike by id:</h2>

<pre>PATCH /v1/bikes/maintenance/:bike_id</pre>

<p>Example:</p>

<pre>{
    "maintenance": true,
    "charge_id": "61a93c3ce146af1a898bdb34"
}</pre>

<p>Result:</p>

<pre>
{
    "message": "Maintenance succesfully updated"
}
</pre>
</section>

<section id="cities">

<h2>Cities</h2>

<p>A city has the following attributes:</p>

<pre>
_id
name
coordinates
charge_stations
parking_stations
</pre>

<h2>parking_stations and charge_stations</h2>

<p>A station has the following attributes:</p>

<pre>
_id
name
coordinates
</pre>


<h2>To get all cities:</h2>

<pre>GET /v1/cities</pre>

<p>Result:</p>

<pre>
{
    "count": 1,
    "cities": [
        {
            "_id": "61a76026bb53f131584de9b1",
            "name": "Central City",
            "coordinates": {
                "northwest": {
                    "lat": 56.193013,
                    "long": 15.559232
                },
                "southeast": {
                    "lat": 56.152144,
                    "long": 15.634511
                }
            },
            "charge_stations": [
                {
                    "_id": "61a93ba5e146af1a898bdb33",
                    "name": "Central station",
                    "coordinates": {
                        "northwest": {
                            "lat": 56.181709,
                            "long": 15.590148
                        },
                        "southeast": {
                            "lat": 56.180697,
                            "long": 15.592087
                        }
                    }
                }
            ],
            "parking_stations": [
                {
                    "_id": "61a760deeefc1bd24ba91645",
                    "name": "Central harbor",
                    "coordinates": {
                        "northwest": {
                            "lat": 56.167131,
                            "long": 15.591912
                        },
                        "southeast": {
                            "lat": 56.166385,
                            "long": 15.593056
                        }
                    }
                }
            ]
        }
    ]
}
</pre>


<h2>To get city by id:</h2>

<pre>GET /v1/cities/:city_id</pre>

<p>Result:</p>

<pre>
{
    "city": {
        "_id": "61a76026bb53f131584de9b1",
        "name": "Central City",
        "coordinates": {
            "northwest": {
                "lat": 56.193013,
                "long": 15.559232
            },
            "southeast": {
                "lat": 56.152144,
                "long": 15.634511
            }
        },
        "charge_stations": [
            {
                "_id": "61a93ba5e146af1a898bdb33",
                "name": "Central station",
                "coordinates": {
                    "northwest": {
                        "lat": 56.181709,
                        "long": 15.590148
                    },
                    "southeast": {
                        "lat": 56.180697,
                        "long": 15.592087
                    }
                }
            }
        ],
        "parking_stations": [
            {
                "_id": "61a760deeefc1bd24ba91645",
                "name": "Central harbor",
                "coordinates": {
                    "northwest": {
                        "lat": 56.167131,
                        "long": 15.591912
                    },
                    "southeast": {
                        "lat": 56.166385,
                        "long": 15.593056
                    }
                }
            }
        ]
    }
}
</pre>

<h2>To get station by city:</h2>

<pre>GET /v1/city/stations/:city_id</pre>

<p>Optional parameters:</p>

<pre>
station_type
</pre>

<p>Result:</p>

<pre>
{
    "stations": {
        "charge_stations": [
            {
                "_id": "61a93ba5e146af1a898bdb33",
                "name": "Central station",
                "coordinates": {
                    "northwest": {
                        "lat": 56.181709,
                        "long": 15.590148
                    },
                    "southeast": {
                        "lat": 56.180697,
                        "long": 15.592087
                    }
                }
            }
        ],
        "parking_stations": [
            {
                "_id": "61a760deeefc1bd24ba91645",
                "name": "Central harbor",
                "coordinates": {
                    "northwest": {
                        "lat": 56.167131,
                        "long": 15.591912
                    },
                    "southeast": {
                        "lat": 56.166385,
                        "long": 15.593056
                    }
                }
            }
        ]
    }
}
</pre>

<h2>To get station by station:</h2>

<pre>GET /v1/city/station/:station_id</pre>

<p>Required parameters:</p>

<pre>
city_id
station_type
</pre>

<p>Result:</p>

<pre>
{
    "station": {
        "_id": "61a93ba5e146af1a898bdb33",
        "name": "Central Station",
        "coordinates": {
            "northwest": {
                "lat": 56.181709,
                "long": 15.590148
            },
            "southeast": {
                "lat": 56.180697,
                "long": 15.592087
            }
        }
    }
}
</pre>


<h2>Add a city:</h2>

<pre>POST /v1/cities</pre>

<p>Required parameters:</p>

<pre>
name
</pre>

<p>Optional parameters:</p>

<pre>
coordinates
charge_stations
parking_stations
</pre>

<p>Result:</p>

<pre>
{
    "message": "Succesfully added a city",
    "addedCity": {
        "name": "Central City",
        "coordinates": {
            "northwest": {
                    "lat": 59.405848,
                    "long": 13.502490
                },
            "southeast": {
                    "lat": 59.387455,
                    "long": 13.535529
            }
        }
    }
}
</pre>


<h2>To update a city by id:</h2>

<pre>PATCH /v1/cities/:city_id</pre>

<p>Example:</p>

<pre>[
    {"propName": "name", "value": "Super Central City"}
]</pre>

<p>Result:</p>

<pre>
{
    "message": "City succesfully updated",
}
</pre>

<h2>Add a station:</h2>

<pre>POST /v1/cities/:city_id</pre>

<p>Required parameters:</p>

<pre>
station_type
name
</pre>

<p>Optional parameters:</p>

<pre>
coordinates
</pre>

<p>Result:</p>

<pre>
{
    "message": "Succesfully added a station",
    "updatedStations": {
        "parking_stations": [
            {
                "_id": "61a760deeefc1bd24ba91645",
                "name": "Central harbor",
                "coordinates": {
                    "northwest": {
                        "lat": 56.167131,
                        "long": 15.591912
                    },
                    "southeast": {
                        "lat": 56.166385,
                        "long": 15.593056
                    }
                }
            },
            {
                "_id": "61a760deeefc1bd24ba91646",
                "name": "New Station",
                "coordinates": {
                    "northwest": {
                        "lat": 56.167131,
                        "long": 15.591912
                    },
                    "southeast": {
                        "lat": 56.166385,
                        "long": 15.593056
                    }
                }
            }
        ]
    }
}
</pre>


<h2>To update a station by id:</h2>

<pre>PATCH /v1/cities/station/:station_id</pre>

<p>Required parameters:</p>

<pre>
city_id
station_type
</pre>

<p>Optional parameters:</p>

<pre>
coordinates
</pre>

<p>Example:</p>

<pre>{
    "city_id": "61a8fd85ea20b50150945887",
    "station_type": "charge_stations",
    "coordinates": {
        "northwest": {
                "lat": 59.389509,
                "long": 13.526023
            },
        "southeast": {
                "lat": 59.389340,
                "long": 13.526291
        }
    }
}</pre>

<p>Result:</p>

<pre>
{
    "message": "Station succesfully updated",
}
</pre>

</section>

<section id="prices">

<h2>Prices</h2>

<p>A price has the following attributes:</p>

<pre>
_id
starting_fee
price_per_minute
penalty_fee
discount
</pre>

<h2>To get all prices:</h2>

<pre>GET /v1/prices</pre>

<p>Result:</p>

<pre>
{
    "count": 1,
    "prices": [
        {
            "_id": "61a7c13abc12788d197715e6",
            "starting_fee": 10,
            "price_per_minute": 3,
            "penalty_fee": 50,
            "discount": 0.1
        }
    ]
}
</pre>

<h2>Add a price:</h2>

<pre>POST /v1/prices</pre>

<p>Optional parameters:</p>

<pre>
starting_fee
price_per_minute
penalty_fee
discount
</pre>

<p>Result:</p>

<pre>
{
    "message": "Succesfully added a price",
    "addedPrice":   {
        "_id": "61a7c13abc12788d197715e6",
        "starting_fee": 10,
        "price_per_minute": 3,
        "penalty_fee": 50,
        "discount": 0.1
    }
}
</pre>


<h2>To update a price by id:</h2>

<pre>PATCH /v1/prices/:price_id</pre>

<p>Example:</p>

<pre>[
    {"propName": "starting_fee", "value": 15}
]</pre>

<p>Result:</p>

<pre>
{
    "message": "Price succesfully updated",
}
</pre>

</section>
<section id="trips">

<h2>Trips</h2>
<p>A trip has the following attributes:</p>

<pre>
_id
user_id
bike_id
start_time
start_coordinates
average_speed
distance
price
stop_time
stop_coordinates
</pre>

<h2>To get all trips:</h2>

<pre>GET /v1/trips</pre>

<p>Result:</p>

<pre>
{
    "count": 1,
    "trips": [
        {
            "_id": "61a8ce5cd84acdc3bb04d155",
            "user_id": "619f6ee3d0b6c914a2b58514",
            "bike_id": "61a8aec803d845a108c53774",
            "start_time": "2021-12-02T13:47:08.007Z",
            "start_coordinates": {
                "lat": 56.166382,
                "long": 15.593662
            },
            "average_speed": 15,
            "distance": 800,
            "price": 83,
            "stop_coordinates": {
                "lat": 56.162077,
                "long": 15.58989
            },
            "stop_time": "2021-12-02T14:14:06.149Z"
        },
    ]
}
</pre>

<h2>To get trips per user:</h2>

<pre>GET /v1/trips/user/user_id</pre>

<p>Result:</p>

<pre>
{
    "count": 1,
    "trips": [
        {
            "_id": "61a8ce5cd84acdc3bb04d155",
            "user_id": "619f6ee3d0b6c914a2b58514",
            "bike_id": "61a8aec803d845a108c53774",
            "start_time": "2021-12-02T13:47:08.007Z",
            "start_coordinates": {
                "lat": 56.166382,
                "long": 15.593662
            },
            "average_speed": 15,
            "distance": 800,
            "price": 83,
            "stop_coordinates": {
                "lat": 56.162077,
                "long": 15.58989
            },
            "stop_time": "2021-12-02T14:14:06.149Z"
        },
    ]
}
</pre>

<h2>To get trip by id:</h2>

<pre>GET /v1/trips/trip_id</pre>

<p>Result:</p>

<pre>
{
    "trip": {
        "_id": "61a8ce5cd84acdc3bb04d155",
        "user_id": "619f6ee3d0b6c914a2b58514",
        "bike_id": "61a8aec803d845a108c53774",
        "start_time": "2021-12-02T13:47:08.007Z",
        "start_coordinates": {
            "lat": 56.166382,
            "long": 15.593662
        },
        "average_speed": 15,
        "distance": 800,
        "price": 83,
        "stop_coordinates": {
            "lat": 56.162077,
            "long": 15.58989
        },
        "stop_time": "2021-12-02T14:14:06.149Z"
    }
}
</pre>

<h2>Start trip:</h2>

<pre>POST /v1/trips</pre>

<p>Required parameters:</p>

<pre>
user_id
bike_id
</pre>

<p>Result:</p>

<pre>
{
    "message": "Succesfully started trip",
    "startedTrip": {
        "_id": "61e047f429fc189b46970e8d",
        "user_id": "619f6ee3d0b6c914a2b58514",
        "bike_id": "61a8aec803d845a108c53774",
        "start_time": "2022-01-13T15:40:36.186Z",
        "start_coordinates": {
            "lat": 59.320536,
            "long": 18.062855499999998
        },
        "__v": 0
    }
}
</pre>


<h2>To update trip by id:</h2>

<pre>PATCH /v1/trip/:trip_id</pre>

<p>Example:</p>

<pre>[
    {"propName": "average_speed", "value": 15}
]</pre>

<p>Result:</p>

<pre>
{
    "message": "Trip succesfully updated",
}
</pre>

<h2>End trip:</h2>

<pre>POST /v1/trips/end/trip_id</pre>

<p>Result:</p>

<pre>
{
    "message": "Trip ended",
    "endedTrip": {
        "_id": "61e047f429fc189b46970e8d",
        "user_id": "619f6ee3d0b6c914a2b58514",
        "bike_id": "61a8aec803d845a108c53774",
        "start_time": "2022-01-13T15:40:36.186Z",
        "start_coordinates": {
            "lat": 59.320536,
            "long": 18.062855499999998
        },
        "average_speed": 15,
        "distance": 200,
        "price": 22,
        "stop_coordinates": {
            "lat": 59.320536,
            "long": 18.062855499999998
        },
        "stop_time": "2022-01-13T15:49:51.270Z"
    }
}
</pre>

</section>



<%- include("footer"); %>