<div class="terms">
    <h3>Terms and Conditions</h3>
    <p>Your email will be stored together with your personal API-key to be able to contact you if you violate the terms and conditions and/or send an extraordinary amount of requests to the API.</p>
    <p>You are responsible for any data that you store in the API's database and that the data does not violate current jurisdiction.</p>
    <p>You can at any time request that your user is deleted by using the <a href="/v1/api/key/deregister">deregister form</a>.</p>
</div>